In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib as mpl

In [8]:
data = yf.download("AMZN", start="2020-03-01", end="2021-03-01")

[*********************100%***********************]  1 of 1 completed

In [9]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-22,3208.129883,3232.320068,3172.260010,3180.739990,3180.739990,3515700
2021-02-23,3127.030029,3204.729980,3093.600098,3194.500000,3194.500000,4677200
2021-02-24,3166.750000,3171.229980,3125.379883,3159.530029,3159.530029,3011300
2021-02-25,3136.739990,3178.260010,3047.760010,3057.159912,3057.159912,4533800
2021-02-26,3095.199951,3122.439941,3036.699951,3092.929932,3092.929932,4273500

In [10]:
ADJ =  data['Adj Close']
ADJ.info()

AttributeError: 'Series' object has no attribute 'info'